@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BRIDGE</h1>
    <h2>Linking Innovators in Education</h2>
    <p></p>
    <h4>Education is the key to making South Africa a winning nation. BRIDGE is a non-profit organisation that drive collboration
    between various stakeholders in education to increase their collective imapact. We achieve this by sharing knowlegde
    , work practices and resources to improve the access of education to those less fortunate</h4>
</div>
